@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "TaskManager-asp.net | Projeto ASP.NET MVC com CRUDs";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <a href="https://github.com/Tiagox42/TaskManager">Repositório</a>
</p>
<p>Você foi designado para desenvolver um sistema de gerenciamento de tarefas (to-do list) em uma aplicação web utilizando ASP.NET MVC. O sistema deve permitir:</p>
<p>a) Cadastrar uma nova tarefa com título, descrição e data de vencimento.</p>
<p>b) Listar todas as tarefas cadastradas.</p>
<p>c) Atualizar o status das tarefas para concluído.</p>
<p>d) Excluir tarefas.</p>
<p>Descreva como você abordaria esse projeto, desde a criação do modelo de dados até a implementação das funcionalidades CRUD. Você deve construir o código.</p>

<p>Requisitos:</p>
<ul>
    <li>MySql 2.1.1</li>
    <li>.NET Core 2.1</li>
</ul>
